*
!.gitignore
!.gitmodules
!.bashrc
!.vimrc
!.vim
!.vim/colors
!.vim/bundle/Vundle.vim
!.vim/doc
!.vim/plugin
!.vim/plugin/*
!.vim/spell
!.vim/syntax
!.irssi/
!.irssi/**
!.myscripts/listssh
!.myscripts/lxcnexter
!.myscripts/sourceqt
!archpackagesinstalled
!.gitconfig
!.thunderbird/xlvvy5g5.default/ImapMail/imap.gmail.com/msgFilterRules.dat
!.gitglobal/gitignore
!.gitglobal/hooks/commit-msg
!.zshrc
!.zshrcappend
!.zsh_custom
!.zsh_custom/*
!.zsh_custom/plugins
!.zsh_custom/plugins/*
!.zsh_custom/themes
!.zsh_custom/themes/*
!.oh-my-zsh
